ul.toolstrip {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.toolstrip li {
  display: inline-block;
  white-space: nowrap;
}

ul.toolstrip li.toolstrip-label {
  padding: 0 0.3em;
}
ul.toolstrip .tooltip-wrap {
  left: 50%;
  position: relative;
}
ul.toolstrip .tooltip {
  bottom: -2px;
  color: #FFF;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  z-index: 1000;
}
ul.toolstrip li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
ul.toolstrip li.ui-disabled .tooltip,
ul.toolstrip li.popup-open .tooltip {
  visibility: hidden;
}
ul.toolstrip .tooltip > div {
  left: -50%;
  position: relative;
}
ul.toolstrip .tooltip-body {
  background-color: #111;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.3em 0.5em;
  text-align: center;
  white-space: nowrap;
}
ul.toolstrip .tooltip-stem {
  background-image: url("../images/openfit_ui_icons.png");
  background-position: center top;
  background-repeat: no-repeat;
  height: 8px;
}
ul.toolstrip .right-tooltip .tooltip-wrap {
  left: auto;
}
ul.toolstrip .right-tooltip .tooltip {
  right: 0;
}
ul.toolstrip .right-tooltip .tooltip > div {
  left: auto;
}
ul.toolstrip .right-tooltip .tooltip-stem {
  background-position: right top;
}
ul.toolstrip .left-tooltip .tooltip-wrap {
  left: auto;
}
ul.toolstrip .left-tooltip .tooltip {
  left: 0;
}
ul.toolstrip .left-tooltip .tooltip  > div {
  left: auto;
}
ul.toolstrip .left-tooltip .tooltip-stem {
  background-position: left top;
}

ul.toolstrip li.toolstrip-button {
  background-color: #F2F2F2;
  border: 1px solid #DDD;
  border-radius: 1px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  margin: 0 1px;
}
ul.toolstrip li.toolstrip-button div.wrap {
  padding: 0.3em 0.8em 0.35em 0.8em;
}
ul.toolstrip li.toolstrip-button a {
  color: #555;
}
ul.toolstrip li.toolstrip-button:hover {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEEEEE 100%) repeat scroll 0 0 #F9F9F9;
  border-color: #BBDCED;
  color: #000;
}
ul.toolstrip li.toolstrip-button:hover a {
  text-decoration: none;
}
ul.toolstrip li.toolstrip-button.ui-disabled {
  background: #F4F4F4;
  border-color: #DDD;
  color: #CCC;
  cursor: default;
}
ul.toolstrip li.toolstrip-button.flat-btn,
ul.toolstrip li.toolstrip-button.flat-btn.ui-disabled:hover {
  background: transparent;
  border-color: transparent;
}
ul.toolstrip li.toolstrip-button.flat-btn:hover {
  background: #EEE;
  border-color: #DDD;
}
ul.toolstrip li.toolstrip-button.flat-btn.popup-open {
  background: #EEE;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
}

ul.toolstrip li.toolstrip-button.flat-btn.popup-open:hover {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
}

ul.toolstrip li.toolstrip-button div.btn-img {
  display: inline-block;
  height: 16px;
  position: relative;
  top: 0.15em;
  width: 16px;
  /*background-color: red;*/
}
ul.toolstrip li.toolstrip-button div.btn-img.img-left {
  margin-right: 5px;
}
ul.toolstrip li.toolstrip-button div.btn-img.img-right {
  margin-left: 5px;
}
ul.toolstrip li.toolstrip-button.no-text div.btn-img {
  margin: 0px;
}

ul.toolstrip li.toolstrip-button.popup-open,
ul.toolstrip li.toolstrip-button.popup-open:hover {
  background: #EEE;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
}
.toolstrip-popup-wrap {
  position: relative;
}
.toolstrip-popup {
  background-color: #FFF;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  color: #000;
  margin: 0 -1px 0 -1px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}
.toolstrip-popup ul {
  margin: 0;
  padding: 0;
}
.toolstrip-popup li:hover {
  background-color:  #EAEAFF;
}
ul.toolstrip .toolstrip-popup li {
  display: block;
}
ul.toolstrip div.toolstrip-popup a {
  color: #000;
  display: block;
}
.toolstrip-popup-wrap.align-right .toolstrip-popup {
  right: 0;
}
.toolstrip-popup-wrap.fill-width .toolstrip-popup {
  width: 100%;
}
.toolstrip-popup .item-list a {
  padding: 0.3em 0.6em 0.3em 0.4em;
}