div.file-wrap {
  overflow: hidden;
  position: relative;
}
div.file-wrap .form-item-files-upload-file {
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
}
div.file-wrap input {
  cursor: pointer;
  font-size: 50px;
  width: auto;
  max-width: none;
}

.pager-item-from,
.pager-item-to,
.pager-item-total {
  font-weight: bold;
}

.pager-prev .btn-img,
.pager-next .btn-img {
  background-image: url(../images/buttons.png);
}

.pager-prev .btn-img { background-position: 0 -112px; }
.pager-prev .btn-img:hover { background-position: -16px -112px; }
.pager-prev.ui-disabled .btn-img { background-position: -32px -112px; }
.pager-next .btn-img { background-position: 0 -128px; }
.pager-next .btn-img:hover { background-position: -16px -128px; }
.pager-next.ui-disabled .btn-img  { background-position: -32px -128px; }

.data-table .field-type-number {
  text-align: right;
}

.xaxis-selector .btn-img,
.metric-selector .btn-img,
.add-button .btn-img,
.edit-button .btn-img,
.delete-button .btn-img,
.settings-button .btn-img,
.privacy-button .btn-img,
.privacy-button .btn-img.img-right,
.import-button .btn-img,
.export-button .btn-img,
.zoom-out-button .btn-img {
  background-image: url(../images/buttons.png);
}

.xaxis-selector .btn-img, .metric-selector .btn-img { background-position: -48px 0; }
.xaxis-selector.popup-open .btn-img, .metric-selector.popup-open .btn-img,
.xaxis-selector:hover .btn-img, .metric-selector:hover .btn-img { 
  background-position: -16px -144px; 
}

.add-button .btn-img { background-position: 0 0; }
.add-button:hover .btn-img, .add-button.popup-open .btn-img { background-position: -16px 0; }
.add-button.ui-disabled .btn-img { background-position: -32px 0; }

.edit-button .btn-img { background-position: 0 -16px; }
.edit-button:hover .btn-img, .edit-button.popup-open .btn-img { background-position: -16px -16px; }
.edit-button.ui-disabled .btn-img { background-position: -32px -16px; }

.delete-button .btn-img { background-position: 0 -32px; }
.delete-button:hover .btn-img, .delete-button.popup-open .btn-img { background-position: -16px -32px; }
.delete-button.ui-disabled .btn-img { background-position: -32px -32px; }

.settings-button .btn-img { background-position: 0 -48px; }
.settings-button:hover .btn-img, .settings-button.popup-open .btn-img { background-position: -16px -48px; }
.settings-button.ui-disabled .btn-img { background-position: -32px -48px; }

.privacy-button .btn-img { background-position: 0 -64px; }
.privacy-button:hover .btn-img, .privacy-button.popup-open .btn-img { background-position: -16px -64px; }
.privacy-button.ui-disabled .btn-img { background-position: -32px -64px; }

.privacy-button .btn-img.img-right { background-position: 0 -144px; }
.privacy-button:hover .btn-img.img-right, .privacy-button.popup-open .btn-img.img-right { background-position: -16px -144px; }
.privacy-button.ui-disabled .btn-img.img-right { background-position: -32px -144px; }

.import-button .btn-img { background-position: 0 -80px; }
.import-button:hover .btn-img, .import-button.popup-open .btn-img { background-position: -16px -80px; }
.import-button.ui-disabled .btn-img { background-position: -32px -80px; }

.export-button .btn-img { background-position: 0 -96px; }
.export-button:hover .btn-img, .export-button.popup-open .btn-img { background-position: -16px -96px; }
.export-button.ui-disabled .btn-img { background-position: -32px -96px; }

.zoom-out-button .btn-img { background-position: 0 -160px; }
.zoom-out-button:hover .btn-img, .zoom-out-button.popup-open .btn-img { background-position: -16px -160px; }
.zoom-out-button.ui-disabled .btn-img { background-position: -32px -160px; }

.select-list.list-type-checked li div {
  display: inline-block;
}
.select-list.list-type-checked li .item-img {
  background-image: url(../images/buttons.png);
  background-position: -48px 0;
  height: 16px;
  margin-bottom: 0.2em;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
.select-list.list-type-checked li.item-selected .item-img {
  background-position: -48px -16px;
}

/* Standard detail chart styling */
.chart li.toolstrip-button.flat-btn {
  border-radius: 4px;
}
.chart li.toolstrip-button.metric-selector div.wrap {
  padding: 0.1em 0.4em;
}

.chart .chart-canvas-container {
  clear: right;
  height: 300px;
  margin: 5px 0 0 0;
}

.chart .top-bar .left-actions {
  float: left;
}
.chart .top-bar .right-actions {
  float: right;
  margin-top: 3px;
}

.chart .bottom-bar {
  margin:0;
  padding:0;
  position:relative;
}
.chart .bottom-bar .center-outer {
	float:left;
	position:relative;
	left:50%;
}
.chart .bottom-bar .center-inner {
	float:left;
	position:relative;
	left:-50%;
}

.chart ul.toolstrip .metric-name {
  font-size: 1.6em;
  font-weight: bold;
  font-family: arial;
  padding-left: 6px;
}
.chart ul.toolstrip .metric-units {
  font-size: 0.7em;
  padding-left: 0.7em;
}
.chart ul.toolstrip .menu .metric-name {
  font-size: 1.2em;
  padding: 0 3px;
}
.chart ul.toolstrip .menu .metric-units {
  padding-left: 0.3em;
}


.chart ul.toolstrip .metric-color {
  display: inline-block;
  height: 2.0em;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
  width: 0.9em;
}
.chart ul.toolstrip.metrics .metric-color span {
  display: inline-block;
  font-size:2.0em;
  position: absolute;
  top: -0.5em;
}
.chart ul.toolstrip.metrics .name .metric-color span {
  padding: 0 6px 0 0;
}

.chart ul.toolstrip .menu .metric-color {
  font-size: 0.9em;
  padding-right: 2px;
}
.chart ul.toolstrip .menu .metric-color span {
  top: -0.35em;
}

.chart ul.toolstrip.xaxis {
  padding-top: 4px;
}
.chart ul.toolstrip.xaxis li .xaxis-name {
  font-size: 1.2em;
  padding-top: 4px
}
.chart ul.toolstrip.xaxis li .xaxis-units {
  font-size: 0.8em;
  padding-left: 6px
}

