/* Specific overrides for screen sizes */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
  #branding,
  .region-header {
    float: none;
    margin: auto;
    text-align: center;
    display: table;
  }
  #logo,
  #site-name {
    display: block;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  #secondary-content-wrapper,
  #top-panels-wrapper,
  #content-wrapper,
  #footer-panels-wrapper,
  #tertiary-content-wrapper {
    margin-bottom: 10px;
  }
  #content-wrapper {
    padding-top: 0;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1em;
  }
  .region-header .block {
    overflow: hidden;
  }
  .region-header .block ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .region-header .block ul li a {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .article-title {
    font-size: 1.5em;
  }
  ul.toolstrip li.toolstrip-button .btn-label {
    display: none;
  }
  ul.toolstrip li.toolstrip-button div.btn-img.img-left {
      margin-right: 0;
  }
  .ui-dialog {
    max-width: 280px;
  }
  .ui-dialog .ui-dialog-content {
    min-height: 40px !important;
  }
  .front .digit-wrapper {
    font-size: 3.0em;
  }
}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
  #branding,
  .region-header {
    float: none;
    margin: auto;
    text-align: center;
    display: table;
  }
  .with-logo #site-name,
  .with-logo #site-slogan {
    text-align: left;
  }
  #secondary-content-wrapper,
  #top-panels-wrapper,
  #content-wrapper,
  #footer-panels-wrapper,
  #tertiary-content-wrapper {
    margin-bottom: 10px;
  }
  #content-wrapper {
    padding-top: 0;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1em;
  }
  .region-header .block {
    overflow: hidden;
  }
  .region-header .block ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .region-header .block ul li a {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .article-title {
    font-size: 1.5em;
  }
  ul.toolstrip li.toolstrip-button .btn-label {
    display: none;
  }
  ul.toolstrip li.toolstrip-button div.btn-img.img-left {
      margin-right: 0;
  }
  .page-type-activity #page-navigation .tabs {
    margin-left: 2px;
  }
  .front .digit-wrapper {
    font-size: 3.0em;
  }
}
/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
  #header-wrapper {
    float: left;
    position: relative;
    z-index: 10000;
  }
  #branding {
    padding: 15px 0 0 0;
  }
  .region-header {
    padding: 0 0 10px;
  }
  #branding hgroup {
    margin-top: 0.8em;
  }
  #branding,
  .region-header {
    float: none;
    text-align: center;
    display: table;
  }
  #site-name,
  #site-slogan {
    text-align: left;
  }
  #site-name {
    font-size: 2.3em;
  }
  .content-style {
    padding: 12px 15px;
  }
  #secondary-content-wrapper,
  #top-panels-wrapper,
  #content-wrapper,
  #footer-panels-wrapper,
  #tertiary-content-wrapper {
    margin-bottom: 10px;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1em;
  }

  .region-header .block {
    overflow: hidden;
  }
  .region-header .block ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .region-header .block ul li a {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .front .digit-wrapper {
    font-size: 4.7em;
  }
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
  #branding,
  .region-header  {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  #branding hgroup {
    margin-top: 0.8em;
  }
  #site-name {
    font-size: 2.5em;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1.077em;
  }
  .front .digit-wrapper {
    font-size: 7.8em;
  }
}
/* Standard layout */
@media only screen and (min-width:1025px) {
  th,td {
    padding: 10px 14px;
  }
}
@media only screen and (max-width:350px) {
  .page-user-profile #dateofbirth-container {
    float: none !important;
  }
}

/* Smartphone landscape or smaller */
@media only screen and (max-width:480px) {
  #branding {
    padding: 5px 0 0 0;
  }
  .region-header {
    padding: 0 0 10px;
  }
  #site-name {
    font-size: 2.3em;
    margin-bottom: 8px;
  }
  #site-slogan {
    display: none;
  }
  .content-style {
    padding: 10px;
    border-radius: 0 !important;
    border: 0;
    border-bottom: 1px solid #E1E1E1;
  }
  .content-margin {
    margin: 0 0;
  }
  .page-type-activity #page-navigation .tabs {
    margin-left: 2px;
  }
  .page-type-activity #page-navigation .tabs li a {
    font-size: 1.1em !important;
    letter-spacing: 0;
    padding: 6px 4px 4px 4px !important;
  }
  .page-type-activity #page-navigation .tabs li a:hover {
    padding-bottom: 4px;
  }
  .page-type-activity #page-navigation .tabs li.active a,
  .page-type-activity #page-navigation .tabs li.active a:hover {
    padding-bottom: 4px;
  }
  .page-type-activity .summary-info {
    font-size: 0.95em;
    letter-spacing: 0;
  }
  .page-type-activity .page-activity-full #detail-area {
    margin-right: 0 !important;
  }
  
  #user-register-form #edit-actions, 
  #user-register-form #register-terms, 
  #user-login #edit-actions, 
  #user-profile-form #edit-actions, 
  #user-profile-form .form-item-current-pass .description, 
  #user-profile-form .password-suggestions, 
  #user-profile-form .form-radios, 
  #user-profile-form .form-checkboxes, 
  .not-logged-in #user-pass #edit-actions, 
  #openfit-user-profile-form .description {
    margin-left: 0;
  }
  #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-btn {
    display: block;
  }
  #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-myaccount, 
  #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-logout, 
  #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-login, 
  #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-signup {
    display: none;
  }
  .not-logged-in #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-login,
  .not-logged-in #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-signup  {
    display: inline-block !important;
  }
}

@media only screen and (max-width:500px) {
  .page-node-add-activity .form-item label,
  .page-node-edit.page-type-activity .form-item label {
    float: none;
  }
  .page-node-add-activity .container-inline-date,
  .page-node-edit.page-type-activity .container-inline-date {
    display: block;
    float: none;
  }
  .form-item-activity-info-start-time {
    display: block;
    margin: 10px 0 0;
  }
  .page-node-add-activity .vertical-tabs-panes,
  .page-node-edit.page-type-activity .vertical-tabs-panes {
    display: none;
  }
}

@media only screen and (max-width:620px) {
  .page-user-profile #photo {
    float: none !important;
  }
  .page-user-profile #edit-general-settings {
    margin-left: 0 !important;
  }
}

/* Tablet portrait or smaller */
@media only screen and (max-width:768px) {
  .page-dashboard #action-bar {
    margin-right: 0;
  }
  .page-type-activity #action-bar {
    background-color: #FFFFFF;
    border-bottom: 0;
  }
  .page-type-activity #page-nav-wrap {
    background-color: #EAF7C8;
    border-bottom: 1px solid #D5EA9A;
    padding: 2px 0 1px 0;
    width: 100%;
  }
  .page-type-activity #actions {
    margin-right: 0;
  }
  .page-type-activity #page-navigation .tabs {
    margin-top: 4px;
  }
  .page-type-activity #page-navigation .tabs li a {
    font-size: 1.2em;
    padding: 6px 8px;
  }
  .page-type-activity #page-navigation .tabs li a:hover {
    padding-bottom: 3px;
  }
  .page-type-activity #page-navigation .tabs li.active a,
  .page-type-activity #page-navigation .tabs li.active a:hover {
    padding-bottom: 4px;
  }
  .page-type-activity .page-activity-full #detail-area {
    float: none;
    width: 100%;
    margin: 0 10px;
  }
  .page-type-activity .page-activity-full #detail-area .field-label,
  .page-type-activity .page-activity-full #detail-area .field-items {
    margin-top: 4px;
  }
  .page-type-activity .page-activity-full #activity-chart {
    margin-left: 0;
  }
  .page-user .user-header {
    height: auto;
  }
  .page-user .activity-totals {
    clear: both;
    display: block;
    margin-bottom: 20px;
    position: relative;
    top: 10px;
  }
}

@media only screen and (max-width:820px) {
  .page-user-profile label {
    float: none !important;
    width: auto !important;
  }
  .page-user-profile #dateofbirth-container {
    overflow: hidden;
    float: left;
  }
  .page-user-profile .form-item-sex {
    margin: 0;
  }
}

@media only screen and (max-width:1024px) {
  .front #ticker article {
      display: block;
      width: 30em;
  }
}

@media only screen and (max-width:600px) {
  #menu-bar .menu-wrapper ul li a {
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
  #menu-bar {
    padding: 0 2px;
  }
}