@import url("common.css"); 

#top-wrapper {
  background-color: #2E2E2E;
  overflow: hidden;
}
.popup-menu {
  position: absolute;
  width: 100%;
  z-index: 599;
  display: none;
}
.popup-menu .menu-wrapper {
  background-color: #2E2E2E;
  display: none;
}
.popup-menu #menu-bar .menu-wrapper > ul > li {
  display: block;
  margin: 0;
}
.popup-menu #menu-bar .menu-wrapper > ul > li > a {
  border-radius: 0;
}
.popup-menu #menu-bar .menu-wrapper ul li.login-btn {
  display: none;
}
#menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-btn a {
  background-image: url(../images/login-user.png) !important;
  background-repeat: no-repeat;
  width: 18px;
}
#menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-btn {
  display: none;
}
.not-logged-in #menu-bar-wrapper #menu-bar .menu-wrapper ul li.login-btn {
  display: none !important;
}
.content-style {
  min-height: 400px;
  padding: 20px 20px;
}
h1.page-title {
  font-size: 2.167em;
  line-height: 1;
  margin: 0 0 1em;
}

.block h2 {
  color: #9BC642;
  font-size: 1.7em;
}

input[type="submit"] {
  -webkit-appearance: none;
}
.rct-6 input.form-button,
.rct-6 input.form-submit, 
.button {
  background-image: none;
  background: -moz-linear-gradient(center top , #F8F8F8 0%, #D8D8D8 100%) repeat scroll 0 0 transparent;
  background-color: #F2F2F2;
  border: 1px solid #CCC;
  border-radius: 1px 1px 1px 1px;
  color: #555;
  display:inline-block;
  font-family: Verdana;
  font-size: 1.0em;
  padding:4px 6px 5px 6px;
}
.rct-6 input.form-button:hover,
.rct-6 input.form-submit:hover,
.button:hover {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEE 100%) repeat scroll 0 0 transparent;
  background-color: #F9F9F9;
  border: 1px solid #BBDCED;
  color: #000;
}

/*
 * jQuery
 */
.ui-dialog {
  padding: 0;
}
.ui-dialog-titlebar {
  background-image: none;
  background-color: #E5E7EC;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 4px;
}
.ui-dialog .ui-dialog-buttonpane button.ui-button {
  background-image: none;
  background: -moz-linear-gradient(center top , #F8F8F8 0%, #D8D8D8 100%) repeat scroll 0 0 transparent;
  background-color: #F2F2F2;
  border: 1px solid #CCC;
  border-radius: 1px 1px 1px 1px;
  color: #555;
  font-family: Verdana;
  font-size: 0.9em;
}
.ui-dialog .ui-dialog-buttonpane button.ui-button:hover {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEE 100%) repeat scroll 0 0 transparent;
  background-color: #F9F9F9;
  border: 1px solid #BBDCED;
  color: #000;
}

.ui-icon.ui-icon-alert,
.ui-icon.ui-icon-info,
.ui-icon.ui-icon-notice,
.ui-icon.ui-icon-help,
.ui-icon.ui-icon-check {
  background-image: url("../images/ui-images.png");
  width: 20px;
  height: 20px;
  margin: 1px 7px 0 0;
}
.ui-icon.ui-icon-alert { background-position: 0 0; }
.ui-icon.ui-icon-info { background-position: -20px 0; }
.ui-icon.ui-icon-notice { background-position: -40px 0; }
.ui-icon.ui-icon-help { background-position: -60px 0; }
.ui-icon.ui-icon-check { background-position: -80px 0; }
 
/* 
 * Main menu bar
 */
#header-wrapper {
  background-color: #2E2E2E;
  width: 100%;
}
div #branding {
  padding: 5px 0 0 10px;
}
#site-name {
  font-size: 2.5em;
}
#site-name a {
  color: #F0F0F0;
}
#site-slogan {
  color: #1E93D2;
  margin: 0;
}
#menu-bar ul li a.active {
  background-color: #F8F8F8;
  color: #101010;
}
#menu-bar #block-openfit-user-login-logout.block {
  float: right;
}
#content-wrapper {
  margin-bottom: 4px;
  padding-top: 10px;
}

/*
 * Select tag should match other form styles
 */
select {
  -moz-box-sizing: border-box;
  background-color: #FAFAFA;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px;
}
input {
  box-sizing: border-box;
}
input.form-text,
input.form-password,
input.form-file,
textarea {
  line-height: 1.0em;
}
/*
 * Overall table styling
 */
th a {
  color: #333 !important;
}
th, thead, thead th {
  background-color: #FFF;
  color: #000;
  font-family: Arial;
}
thead th {
  border-bottom: 1px solid #DDD;
}
tr th, tr td {
  padding: 6px 4px;
}
tr.odd {
  background-color: #F8F8F8;
}
tr td:first-child {
  border-left: 1px solid #EEE;
}
tr:last-child {
  border-bottom: 1px solid #F8F8F8;
}
tr:hover td {
  background-color: #F2F4F9;
}
tr.selected td {
  background-color: #88C3EA;
  color: #FFF;
}
tr.selected td a {
  color: #FFF;
}
tr.selected:hover td {
  background-color: #74B5E8;
}

.data-table tr td a {
  padding: 3px 10px;
}

.data-table tr td a:hover {
  background-color: #C2DEE8;
  border-radius: 10px;
  color: #065F9B;
  padding: 3px 10px;
  text-decoration: none;
}
.data-table tr.selected td a:hover {
  background-color: #1B96E2;
  color: #FFF;
}

/* Hide required asterisk and description text for user login & register pages */
#user-register-form .form-required,
#user-login .form-required,
#user-pass .form-required,
#user-profile-form .form-required {
  display: none;
}

#user-register-form .description,
#user-login .description,
#user-pass .description,
#user-profile-form .description,
#openfit-user-profile-form .description {
  display: none;
}

#user-profile-form .form-item-current-pass .description {
  display: block;
}

/* Hide the AJAX form progress elements */
#openfit-user-profile-form .ajax-progress {
  display: none;
}
#openfit-user-profile-form .progress-disabled {
  float: none;
}

/* Change user login & register pages to two-column layout */
#user-register-form .form-item label,
#user-login .form-item label,
#user-pass .form-item label,
#user-profile-form .form-item label,
#openfit-user-profile-form .form-item label,
.page-user-profile .form-item label {
  float: left;
  font-size: 1.1em;
  margin-top: 0.4em;
  width: 180px;
}

#user-register-form #edit-actions,
#user-register-form #register-terms,
#user-login #edit-actions,
#user-profile-form #edit-actions,
#user-profile-form .form-item-current-pass .description,
#user-profile-form .password-suggestions,
#user-profile-form .form-radios,
#user-profile-form .form-checkboxes,
.not-logged-in #user-pass #edit-actions,
#openfit-user-profile-form .description {
  margin-left: 180px;
}
.form-radios {
  overflow: hidden;
}

#user-profile-form .form-type-checkbox label,
#user-profile-form .form-type-radio label {
  float: none;
}

/* Password alignment issues */
.confirm-parent, .password-parent {
  width: auto;
}
div.password-strength,
div.password-confirm,
div.password-suggestions {
  display: none !important;
}
.form-item-pass label {
  clear: none;
}

/* Hide breadcrumbs & title on user profile pages */
.page-user #breadcrumb-wrapper,
.page-user .breadcrumb,
.page-user-account #page-title,
.page-user-profile #page-title {
  display: none;
}

/* Hide timezone on user profile page */
#user-profile-form #edit-timezone {
  display: none;
}
#user-profile-form .form-item-pass-pass2 {
  clear: both;
}
#user-profile-form .password-strength, 
#user-profile-form div.password-confirm {
  margin-top: 0;
}

/* User profile page styles */
#openfit-user-profile-form #photo {
  float: left;
  height: 140px;
  margin-right: 10px;
}
#openfit-user-profile-form .photo-missing {
  height: 100px;
  width: 100px;
}

#openfit-user-profile-form .user-photo {
  border: 3px solid #F0F0F0;
  cursor: pointer;
  display: table-cell;
  height: 130px;
  vertical-align: middle;
  width: 130px;
}

#openfit-user-profile-form .user-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 130px;
  max-height: 130px;
}

#openfit-user-profile-form #avatar-link-hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  cursor: pointer;
  font-size: 80%; 
  margin: 3px; 
  padding-bottom: 4px; 
  padding-top: 6px; 
  position: relative; 
  text-align: center; 
  top: -50px; 
  width: 130px; 
}

#openfit-user-profile-form h2 {
  border-bottom: 1px solid #E0E0E0;
  clear: both;
  color: #404040;
  font-size: 1.5em;
  line-height: 1.6;
}

#openfit-user-profile-form #edit-general-settings {
  margin-left: 140px;
  overflow: hidden;
}
#openfit-user-profile-form .form-type-date-popup {
  border-width: 0;
}
#openfit-user-profile-form .date-padding {
  padding: 0;
}

#openfit-user-profile-form .form-item-country select {
  width: 150px;
}
#openfit-user-profile-form .form-item-country,
#openfit-user-profile-form .form-item-location {
  display: inline;
}
#openfit-user-profile-form .form-item-location input {
  width: 246px;
}
#openfit-user-profile-form .container-inline-date .form-item {
  display: block;
}
#openfit-user-profile-form .form-item-dateofbirth-date {
  margin-right: 20px;
  width: 150px;
}
#openfit-user-profile-form .form-item-dateofbirth-date .description {
  margin-left: 0;
}
#openfit-user-profile-form .container-inline-date {
  clear: none;
}
#openfit-user-profile-form .form-item-sex {
  overflow: hidden;
}
#openfit-user-profile-form .form-item-sex label {
  width: 110px;
}
#openfit-user-profile-form .form-item-sex select {
  width: 120px;
}

#openfit-user-profile-form .form-item-timezone select,
#openfit-user-profile-form .form-item-language select,
#openfit-user-profile-form .form-item-week-start select,
#openfit-user-profile-form .form-item-units select {
  width: 20em;
}

#openfit-user-profile-form .form-item-default-privacy .form-type-radio {
  clear: right;
  line-height: 17px;
}

#openfit-user-profile-form .form-item-default-privacy .form-type-radio label {
  margin: 0;
  vertical-align: middle;
}

#openfit-user-profile-form .form-item-default-privacy .form-radio {
  line-height: 17px;
}
#openfit-user-edit-picture-form {
  margin: 0;
}
#openfit-user-edit-picture-form #preview {
  display: table;
  height: 225px;
  width: 100%;
}
#openfit-user-edit-picture-form .user-photo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#openfit-user-edit-picture-form .button-wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
}
#openfit-user-edit-picture-form .file-button {
  margin: 0.4em;
  text-align: center;
}

/* User profile page */
.page-user .content {
  max-width: 960px;
}
.page-user .user-header {
  overflow: hidden;
  height: 150px;
}
.page-user .user-picture img {
  border: 2px solid #EEE;
  float: left;
  padding: 2px;
  margin: 6px 6px 0 0;
  width: 116px;
}
.page-user .user-info {
  float: left;
  height: 100%;
  margin-right: 20px;
}
.page-user .field-name-name .field-items {
  font-size: 2em;
  font-weight: bold;
}
.page-user .field-name-location .field-items {
  font-size: 1.4em;
}
.page-user .field-name-country .field-items {
  color: #999;
  font-size: 0.9em;
}
.page-user .field-name-registered {
  margin-top: 4px;
}
.page-user .field-name-registered .field-item {
  float: left;
}

.page-user .activity-totals {
  background-color: #F8F8F8;
  border-bottom: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
  border-radius: 10px 10px 10px 10px; 
  height: 60px;
  margin-top: 10px;
  overflow: hidden;
  padding: 2px 14px 10px 14px;
}
.page-user .activity-totals .field {
  float: left;
  padding: 0 24px 0 0;
}
.page-user .activity-totals .field-name-calories {
  padding-right: 0;
}
.page-user .activity-totals .field-label {
  color: #6699DD;
  font-size: 0.9em;
  font-weight: normal;
}
.page-user .activity-totals .field-item {
  font-size: 30px;
}
.page-user .summary-chart {
  clear: both;
}
.page-user .summary-chart.mini-chart .chart-canvas {
  color: #B0B0B0;
  height: 160px;
}
.page-user .summary-chart.mini-chart .label {
  color: #B0B0B0;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.page-user .recent-activities h2 {
  border-bottom: 1px solid #F0F0F0;
}
.page-user .recent-activities .user-picture {
  display: none;
}
/* Activity add/edit page styling */
.page-node-add-activity .page-title {
  display: inline;
  margin-bottom: 8px;
}
.page-node-add-activity .top-header {
  margin-bottom: 20px;
}
.page-node-add-activity .form-required,
.page-node-edit.page-type-activity .form-required {
  display: none;
}
.page-type-activity #page-nav-wrap {
  float:left;
}
.page-node-add-activity #action-bar {
  float: right;
}

.page-node-add-activity .description,
.page-node-edit.page-type-activity .description {
  display: none;
}

.page-node-add-activity .form-item label,
.page-node-edit.page-type-activity .form-item label {
  float: left;
  font-size: 1.1em;
  margin-top: 0.4em;
  width: 140px;
}

.page-node-add-activity .form-item-activity-info-start-time label,
.page-node-edit.page-type-activity .form-item-activity-info-start-time label {
  display: none;
}

select#edit-activity-info-sport,
input#edit-activity-info-name {
  width: 290px;
}

.page-node-add-activity .container-inline-date,
.page-node-edit.page-type-activity .container-inline-date {
  display: inline-block;
  float: left;
}
.page-node-add-activity .container-inline-date .form-item.form-type-date-popup,
.page-node-edit.page-type-activity .container-inline-date .form-item.form-type-date-popup {
  border-width: 0;
  margin: 0;
}
.page-node-add-activity #edit-activity-info-start-date,
.page-node-edit.page-type-activity #edit-activity-info-start-date {
  display: inline-block;
  padding: 0;
}
.form-item-activity-info-start-time {
  display: inline-block;
  margin: 0 0 0 5px;
}


.page-node-add-activity .block input.form-text,
.page-node-edit.page-type-activity input.form-text {
  width: 140px;
}

/* Activity page stying */
.page-type-activity .article .user-picture {
  float: right;
  margin: 0;
}
.page-type-activity .article .user-picture img {
  padding: 0;
  width: 65px;
}

.page-type-activity #tasks,
.page-type-activity #breadcrumb-wrapper {
  display:none;
}

.page-node-add-activity #breadcrumb-wrapper {
  display:none;
}

.page-type-activity #action-bar {
  clear: both;
  padding: 2px 0;
}

.page-type-activity #actions {
  float: right;
  margin: 4px 10px 4px 0;
}
.page-type-activity #action-bar #export-menu {
  min-width: 80px;
}
.page-type-activity #action-bar #privacy-menu {
  right: 12px;
}

.page-type-activity #page-navigation {
  float: left;
}

.page-type-activity #page-navigation .tabs {
  border-width: 0;
  margin: 8px 0 0 10px;
  padding: 0;
}

.page-type-activity #page-navigation .tabs li {
  padding: 0;
}
.page-type-activity #page-navigation .tabs li a {
  font-family: Arial;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding: 8px 8px;
  text-decoration: none;
}
.page-type-activity #page-navigation .tabs li.active a,
.page-type-activity #page-navigation .tabs li.active a:hover {
  font-weight: bold;
  padding-bottom: 11px;
}
.page-type-activity #page-navigation .tabs li a:hover {
  padding-bottom: 10px;
}
.page-type-activity #page-navigation .tabs li a {
  border-radius: 12px 12px 0 0;
}
.page-type-activity #action-bar {
  background-color: #EAF7C8;
  border-bottom: 1px solid #D5EA9A;
}
.page-type-activity #page-navigation .tabs li a {
  color: #444;
}
.page-type-activity #page-navigation .tabs li.active a,
.page-type-activity #page-navigation .tabs li.active a:hover {
  background-color: #FFF;
  border: 1px solid #D5EA9A;
  border-bottom-width: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.page-type-activity #page-navigation .tabs li a:hover {
  background-color: #F3FFD3;
  box-shadow: 0 0 1px #D5EA9A, 0 -1px 3px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 0 1px #D5EA9A, 0 -1px 3px 1px rgba(0,0,0,0.05);
}
.page-type-activity .top-summary .user-photo img {
  border: 2px solid #EEE;
  float: right;
  margin-left: 10px;
  width: 60px;
}
.page-type-activity .top-summary .activity-name,
.page-type-activity .top-summary .activity-time,
.page-type-activity .top-summary .activity-distance {
  font-weight: bold;
}
.page-type-activity .summary-info {
  margin-bottom: 10px;
  font-size: 1.05em;
  letter-spacing: 0.03em;
}
.page-type-activity .page-activity-full #detail-area {
  float: left;
  font-size: 1.05em;
  margin: 10px 10px;
  width: 340px;
}
.page-type-activity .page-activity-full #detail-area .field-items {
  color: #0A83AF;
  float: left;
  margin-top: 10px;
}
.page-type-activity .page-activity-full #detail-area .field-item {
  font-weight: bold;
}
.page-type-activity .page-activity-full #detail-area .field-label {
  color: #555;
  clear: both;
  float: left;
  margin-top: 10px;
  width: 200px;
}
.page-type-activity .page-activity-full #detail-area .field-block {
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  padding-bottom: 5px;
}
.page-type-activity .page-activity-full #detail-area .field-block.no-data {
  display: none;
}
.page-type-activity .page-activity-full #activity-chart {
  margin-left: 360px;
  margin-top: 20px;
}
.page-type-activity .page-activity-full #activity-chart .chart-canvas-container {
  height:375px;
}
.page-type-activity .comment {
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 4px;
}
.page-type-activity .comment p {
  margin: 2px 0 0 0;
  padding: 0;
}
.page-type-activity .comment-actions {
  float: right;
  padding: 0 6px;
  visibility: hidden;
}
.page-type-activity .comment:hover .comment-actions {
  visibility: visible;
}
.page-type-activity .comment-actions .comment-delete a {
  background-image: url(../images/buttons.png);
  background-position: 0px -176px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  width: 16px;
}
.page-type-activity .comment-actions .comment-delete a:hover {
  background-position: -16px -176px;
}
.page-type-activity .comment:hover {
  background-color: #F4F5F7;
}
.page-type-activity .comment .user-picture {
  float: left;
}
.page-type-activity .comment .user-picture img {
  width: 40px;
  margin-right: 10px;
}
.page-type-activity .comment time {
  margin-left: 10px;
}
.page-type-activity #edit-comment-body label,
.page-type-activity #edit-comment-body fieldset {
  display: none;
}

.front .article-type-activity .user-picture {
  display: none;
}
.front .activity-category,
.page-dashboard .activity-category,
.page-type-activity .activity-category,
.page-user .activity-category {
  float: left;
  margin: 10px 8px 10px 4px;
}
.front .summary-info div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-type-activity.article-teaser {
  clear: both;
  overflow: hidden;
  margin-bottom: 2px;
}
.article-type-activity.article-teaser .user-photo img {
  border: 2px solid #EEE;
  float: left;
  margin-right: 4px;
  width: 60px;
}
.article-type-activity .summary-info .field-name-activity-name,
.article-type-activity .summary-info .field-name-activity-time,
.article-type-activity .summary-info .field-name-activity-distance {
  font-weight: bold;
}
.article-type-activity.article-teaser a {
  border-radius: 6px;
  display: block;
  overflow: hidden;
  padding: 2px;
}
.article-type-activity.article-teaser a:hover {
  color: #0970A3;
  background-color: #F4F5F7;
  box-shadow: inset 0 0 0 1px #EEE;
  -webkit-box-shadow: inset 0 0 0 1px #EEE;
}

.page-activity-import #edit-import-file {
  max-width: 600px;
  width: 100%;
}

.node-unpublished,
#page article.article-unpublished, 
#page article.comment-unpublished {
  background-color: transparent !important;
}

/* Dashboard */
.page-dashboard .recent-activities .user-picture {
  display: none;
}

/*
 *  CSS styling for front-page 
 */
 .front h1.article-title {
  display: none;
}

.front #ticker {
  border: 1px solid #f2f2f2;
  border-left: 0;
  border-right: 0;
  margin-top: 15px;
  padding: 5px 0px;
}

.front #ticker article {
  display: table-cell;
  width: 22em;
}

.front .signup-btn {
  background: -moz-linear-gradient(center top , #63CE6C 0%, #5EC466 100%) repeat scroll 0 0 transparent;
  background-color: #63CE6C;
  border: 2px solid #61CE68;
  border-radius: 5px 5px 5px 5px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.front .signup-btn:hover {
  background: -moz-linear-gradient(center top , #5DE275 0%, #5EC47C 100%) repeat scroll 0 0 transparent;
  background-color: #5DE275;
  border-color: #42C0FF;
}

.front .signup-btn a {
  color: #FBFFF4;
  display: block;
  padding: 8px 30px;
  text-decoration: none;
}
.front .signup-btn:hover a {
  color: #FFFFFF;
}

.front .label {
  font-size: 200%;
  font-weight: bold;
}

.front .equivalent {
  font-size: 150%;
}

.front div.center-align {
 
}

.front div.center-align div.center-align-inner {
  display: table;
  margin: 0 auto;
}

.front .center-target {
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

/*
 * TODO: -webkit-gradient and -webkit-linear-gradient don't work
 */
.front .digit {
  background: -webkit-gradient(linear, top -80deg, #383838, #111 50%, #363636); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* FF3.6 */
  background: -ms-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* IE10 */
  background: -o-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* Opera 11.10+ */
  background: linear-gradient(top -80deg, #383838, #111 50%, #363636);
  background-color: #333333;
  color: #fff;
  display:block;
  float: left;
  line-height: 1em;
  margin:0 !important;
  overflow: hidden; 
  padding: 0.1em 0.2em 0.16em 0.2em;
  text-align: center;  
}

.front .d3 {
  -webkit-border-radius: 0.2em 0 0 0.2em; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
  -moz-border-radius: 0.2em 0 0 0.2em; /* FF1-3.6 */
  border-radius: 0.2em 0 0 0.2em; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.front .d1 {
  -webkit-border-radius: 0 0.2em 0.2em 0; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
  -moz-border-radius: 0 0.2em 0.2em 0; /* FF1-3.6 */
  border-radius: 0 0.2em 0.2em 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.front .d1.d3 {
  -webkit-border-radius: 0.2em 0.2em 0.2em 0.2em; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
  -moz-border-radius: 0.2em 0.2em 0.2em 0.2em; /* FF1-3.6 */
  border-radius: 0.2em 0.2em 0.2em 0.2em; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.front .digit-wrapper {
  font-size: 8.5em;
}

.front .digit-list {
  list-style:none;
  white-space: nowrap;
}

.front .digit-list .seperator {
  color: #333;
  float: left;
  font-size: 90%;
}

.front .digit-num-6,
.front .digit-num-3 {
  font-size: 90%;
}
.front .digit-num-9 {
  font-size: 66%;
}
.front .digit-num-12 {
  font-size: 50%;
}
.front .digit-num-15 {
  font-size: 40%;
}

/* Footer */
.region-footer section {
  padding: 0 10px;
}
.region-footer #left-bottom-footer {
  float: left;
}
.region-footer #right-bottom-footer {
  float: right;
}
.region-footer h2.block-title {
  display: none;
}
.region-footer .footer-separator {
  padding: 0 8px;
}

/* Activity node */
/* Hide the system config options */
#activity-node-form div.vertical-tabs {
  display: none;
}

/* Dashboard page */
#openfit-activity-dashboard-form {
  margin-bottom: 0;
}
.page-dashboard #page-title {
  display: none;
}
.page-dashboard .page-activity-teaser {
  clear: none;
}
.page-dashboard .info-sidebar h2 {
  clear: both;
  margin: 0;
}
.page-dashboard .info-sidebar .field-block {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  margin-bottom: 6px;
  padding: 6px 0;
  overflow: hidden;
}
.page-dashboard .info-sidebar .field-label {
  color: #555;
  clear: both;
  float: left;
  margin-top: 2px;
  width: 150px;
}
.page-dashboard .info-sidebar .field-items {
  color: #0A83AF;
  float: left;
  margin-top: 2px;
}
.page-dashboard .mini-chart .chart-canvas {
  color: #B0B0B0;
  height: 120px;
}
.page-dashboard .mini-chart .label {
  color: #B0B0B0;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.page-dashboard #edit-header {
  overflow: hidden;
}
.page-dashboard #action-bar {
  float: right;
  margin-right: 10px;
}

.page-dashboard #edit-items {
  padding-right: 10px;
}

@media only screen and (max-width:768px) {
  .page-dashboard .region {
    width: 100% !important;
  }
  .page-dashboard #edit-items {
    padding-right: 0px !important;
  }
  .page-dashboard #edit-sidebar {
    padding-top: 10px;
  }
}

/* Activities page */
.page-activities #page-title {
  display: none;
}
.page-activities .left-action-container {
  float: left;
}
.page-activities .right-action-container,
.page-activities .right-actions {
  float: right;
}
 
.page-activities #edit-pager,
.page-activities #edit-right-actions {
  float: left;
}

a.view-activity {
  font-weight: bold;
}
a.view-activity:hover {
  text-decoration: underline;
}

.page-activities .activity-table tr td:first-child, 
.page-activities .activity-table tr th:first-child {
  display: none;
}
.page-activities .activity-table tr td.empty.message {
  display: table-cell;
}

.page-node-add-activity #page-title {
  display: none;
}

@media only screen and (max-width:576px) {
  .page-activities .col-avg-speed,
  .page-activities .col-avg-pace {
    display: none;
  }
  .page-type-activity.page-node-laps .col-max-speed,
.page-type-activity.page-node-laps .col-calories  {
    display: none;
  }
}
@media only screen and (max-width:640px) {
  .page-activities .col-sport {
    display: none;
  }
  .page-type-activity.page-node-laps .col-elev-gain,
  .page-type-activity.page-node-laps .col-elev-loss {
    display: none;
  }
}
@media only screen and (max-width:768px) {
  .page-activities .col-calories {
    display: none;
  }
  .page-type-activity.page-node-laps .col-avg-power,
  .page-type-activity.page-node-laps .col-max-power,
  .page-type-activity.page-node-laps .col-avg-cadence,
  .page-type-activity.page-node-laps .col-max-cadence {
    display: none;
  }
}

/* Reports page */
.page-reports #page-title {
  display: none;
}